<div class="teble">
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th><input type="checkbox">全选</th>
            <th>序号</th>
            <th>案号</th>
            <th>当事人</th>
            <th>案由</th>
            <th>立案日期</th>
            <th>结案日期</th>
            <th>承办人</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td class="no-left">（2013）临刑初字第146号</td>
            <td>安永得</td>
            <td>抢劫</td>
            <td>2013-04-21</td>
            <td>2014-09-18</td>
            <td>曹永德</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td class="no-left">（2013）临刑初字第146号</td>
            <td>安永得</td>
            <td>抢劫</td>
            <td>2013-04-21</td>
            <td>2014-09-18</td>
            <td>曹永德</td>
        </tr>
        </tbody>
    </table>
    <div class="table_footer">
        <div class="total">
            <span>共计</span><span> 2 </span><span>条，</span>
            <span>每页显示</span><span> 10 </span><span>条，</span>
            <span>共</span><span> 2 </span><span>页。</span>
        </div>
        <div class="output">
            <span>列表：</span>
            <button type="button" class="btn btn-default">导出</button>
            <button type="button" class="btn btn-default">打印</button>
        </div>
        <div class="change_page">
            <span> 首页 </span>
            <span> 上一页 </span>
            <span> 第</span>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <span>页 </span>
            <span> 下一页 </span>
            <span> 尾页 </span>
        </div>
    </div>
</div><!-- table -->